<%- include('partials/header') %>
    <h1>Service Categories</h1>
    <p>Explore the different types of service projects available:</p>
    <ul>
        <li>Environmental</li>
        <li>Educational</li>
        <li>Community Service</li>
        <li>Health and Wellness</li>
    </ul>
<%- include('partials/footer', { year: year }) %>