<%- include('partials/header', { title: title }) %>
    <h1>Welcome to the Service Project Site</h1>
    <img src="/public/images/hero.jpeg" alt="Hero Image">
    <p>Use the navigation above to explore organizations, projects, and categories.</p>
<%- include('partials/footer', { year: year }) %>