<%- include('partials/header', { title: title }) %>
    <h1>Organizations</h1>
    <p>Here are some local organizations supporting service projects:</p>
    <ul>
        <li>Habitat for Humanity</li>
        <li>Red Cross</li>
        <li>Local Food Bank</li>
        <li>Community Outreach Center</li>
    </ul>
<%- include('partials/footer') %>
