<%- include('partials/header', { title: title }) %>
    <h1>Projects</h1>
    <p>Check out our available service project opportunities:</p>
    <ul>
        <li>Park clean-up</li>
        <li>Tutoring program</li>
        <li>Neighborhood garden</li>
        <li>Health fair</li>
    </ul>
<%- include('partials/footer', { year: year }) %>
